<div class="row cf">
    <div class="col-12 col-md-6">
        <label class="cf__label">
            <span class="cf__label--text">Twoje imię<span class="cf__label--required">*</span></span>
            [text* cf-name]
        </label>
    </div>
    <div class="col-12 col-md-6">
        <label class="cf__label">
            <span class="cf__label--text">Twoje nazwisko<span class="cf__label--required">*</span></span>
            [text* cf-surname]
        </label>
    </div>
    <div class="col-12 col-md-6">
        <label class="cf__label">
            <span class="cf__label--text">Adres e-mail<span class="cf__label--required">*</span></span>
            [email* cf-email]
        </label>
    </div>
    <div class="col-12 col-md-6">
        <label class="cf__label">
            <span class="cf__label--text">Twój numer telefonu<span class="cf__label--required">*</span></span>
            [tel* cf-tel]
        </label>
    </div>
    <div class="col-12">
        <label class="cf__label">
            <span class="cf__label--text">Treść Wiadomości<span class="cf__label--required">*</span></span>
            [textarea your-message]
        </label>
    </div>
    <div class="col-12">
        <label class="cf-gdpr">
            [acceptance cf-gdpr optional] Wyrażam zgodę na przetwarzanie danych osobowych zgodnie z ustawą o ochronie danych osobowych w związku z wysłaniem zapytania przez formularz kontaktowy. Podanie danych jest dobrowolne, ale niezbędne do przetworzenia zapytania. Zostałem poinformowany, że przysługuje mi prawo dostępu do swoich danych, możliwości ich poprawiania, żądania zaprzestania ich przetwarzania. Administratorem danych jest firma Primo Nieruchomości. [/acceptance]
        </label>
    </div>
</div>