<div class="row cf" data-contact_form>
    <div class="col-12 col-md-6">
        <label class="cf__label">
            <span class="cf__label--text">Twoje imię<span class="cf__label--required">*</span></span>
            [text* cf-name class:cf-input]
        </label>
    </div>
    <div class="col-12 col-md-6">
        <label class="cf__label">
            <span class="cf__label--text">Twoje nazwisko<span class="cf__label--required">*</span></span>
            [text* cf-surname class:cf-input]
        </label>
    </div>
    <div class="col-12 col-md-6">
        <label class="cf__label">
            <span class="cf__label--text">Adres e-mail<span class="cf__label--required">*</span></span>
            [email* cf-email class:cf-input]
        </label>
    </div>
    <div class="col-12 col-md-6">
        <label class="cf__label">
            <span class="cf__label--text">Twój numer telefonu<span class="cf__label--required">*</span></span>
            [tel* cf-tel class:cf-input]
        </label>
    </div>
    <div class="col-12">
        <label class="cf__label">
            <span class="cf__label--text">Treść Wiadomości<span class="cf__label--required">*</span></span>
            [textarea* your-message class:cf-input]
        </label>
    </div>
    <div class="col-12">
        <label class="cf-gdpr">
            [acceptance cf-gdpr required] Wyrażam zgodę na przetwarzanie danych osobowych zgodnie z ustawą o ochronie danych osobowych w związku z wysłaniem zapytania przez formularz kontaktowy. Podanie danych jest dobrowolne, ale niezbędne do przetworzenia zapytania. Zostałem poinformowany, że przysługuje mi prawo dostępu do swoich danych, możliwości ich poprawiania, żądania zaprzestania ich przetwarzania. Administratorem danych jest firma Primo Nieruchomości. [/acceptance]
        </label>
    </div>
    <div class="cf-submit">
        [submit class:site-btn class:site-btn__green "Wyślij Wiadmość"]
    </div>
</div>