@import "sub/variables";
@import "sub/typo";
@import "sub/intro";
@import "sub/homepage";
@import "sub/header";
@import "sub/swiper";
@import "sub/icons-row";
@import "sub/cons";
@import "sub/content";
@import "sub/homepage-maincontent";
@import "sub/apartaments-list";
@import "sub/btn";
@import "sub/contact-form";
@import "sub/footer";
//@import "sub/scroll-gallery";
@import "sub/gallery";
@import "sub/filters";
@import "sub/canvas";

img {
  user-drag: none;
  user-select: none;
}

.site-container{
  width: 100%;
  padding-left: 5rem;
  padding-right: 5rem;
  @media screen and (max-width: 1600px){
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
  @media screen and (max-width: 991px){
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.sr-container{
  max-width: 1410px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  display: block;
}

.offset-img{
  &.left img{
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    @media screen and(max-width: 991px){
      &{
        border-radius: 1rem;
      }
    }
  }
}

img.border-radius{
  border-radius: 1rem;
}
.page-main{
  margin-top: 165px;
}


.contact-page{
  & a{
    color: $color-green;
    width: 100%;
    display: block;
    font-size: $font-content;
    font-weight: bold;
    text-decoration: none;
    &:hover{
      color: $color-green-dark;
    }
  }
}

.faq{
  overflow: hidden;
  margin-top: 1.5rem;
  border-top: 1px solid gray;
  color: $color-dark;
  &-title{
    position: relative;
    display: block;
    width: 100%;
    margin-top: 1.5rem;
    padding-right: 2rem;
    text-decoration: none;
    font-size: $font-content;
    font-weight: bold;
    color: $color-dark;
    transition: all .2s ease-in-out;
    cursor: pointer;
    &:hover{
      color: $color-green;
    }
    &:after{
      content: '+';
      font-size: 24px;
      font-weight: bold;
      color: $color-green;
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
    }
    &.active{
      &:after{
        content: '-';
      }
    }
  }
  &-title.active + &-content{
    margin-top: 1.5rem;
  }
&-content{
  height: 0;
  transition: all .2s ease-in-out;
}
}

.bg-gray-light{
  background: $color-gray-ligher;
}

.map iframe{
  width: 100% !important;
}

.table-wrapper{
  overflow-x: auto;
}

.rodo{
  position: fixed;
  background: rgba(0,0,0,.8);
  backdrop-filter: blur(5px);
  padding: 1.5rem;
  border-radius: 1rem;
  bottom: 15px;
  right: 15px;
  color: white;
  box-shadow: 0 7px 15px rgba(0,0,0,0.2);
  width: 225px;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  z-index: 1000;
  transition: all .2s ease-in-out;
  &.show{
    opacity: 1;
    pointer-events: all;
  }
  & p a{
    color: $color-green;
  }
  &__btn{
    padding: 10px 15px;
    background: $color-green;
    display: block;
    border-radius: 1000px;
    color: white;
    width: fit-content;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 auto;
    z-index: 100;
  }
  @media(max-width: 991px){
    width: calc(100% - 30px);
    font-size: 12px;
  }
}

.apartaments-view-element{
  display: none;
  &.active{
    display: block;
  }
}

.apartaments-filters-view{
  align-items: center;
  margin-bottom: 2rem;
  font-size: 18px;
  font-weight: bold;
  & button{
    scroll-snap-align: start;
    border: 1px solid #b8c6d1;
    color: #434236;
    background: #fff;
    border-radius: 1000px;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
    font-size: 16px;
    font-weight: normal;
    &.active, &:hover{
      background: #06bd69;
      border-color: #06bd69;
      color: #fff;
    }
    & + button{
      margin-left: 1rem;
    }
  }

}