.content {
	& img {
		width: 100%;
	}
	&__text {
		font-size: 18px;
		font-weight: 300;
		& p {
			font-weight: 300;
		}
		& strong {
			font-weight: 700;
		}
		& a {
			color: $gold-400;
			&:hover {
				color: $gold-500;
			}
		}
	}
	&__title {
		font-size: 32px;
		font-weight: 700;
		& * {
			font-weight: inherit;
		}
	}
}
