.site-footer {
	color: $color-dark;
	& .content__title {
		font-weight: 500 !important;
	}
	& .content__text,
	& .content__text p {
		font-weight: 400 !important;
	}
	&__sm {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;
	}
	& a {
		color: inherit;
		text-decoration: none;
		transition: all 0.2s ease-in-out;
		&:hover {
			color: $gold-500;
		}
	}
	&__copyright {
		border-top: 1px solid $color-gray;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media screen and (max-width: 991px) {
			& {
				flex-direction: column;
			}
		}
		&--pp {
			transition: all 0.2s ease-in-out;
			&:hover {
				color: $gold-500;
			}
		}
		&--everywhere {
			display: flex;
			justify-content: center;
			gap: 2rem;
			align-items: center;
			@media screen and (max-width: 991px) {
				& {
					flex-direction: column;
					align-items: center;
					justify-content: center;
					text-align: center;
					margin-top: 2rem;
				}
			}
		}
		&--text {
			margin-bottom: 0;
			@media screen and (max-width: 991px) {
				& {
					text-align: center;
				}
			}
		}
	}
	@media screen and (max-width: 991px) {
		&__wrapper img {
			width: 90%;
		}
		&__wrapper &__copyright img {
			width: 100%;
		}
	}
	&__banner img {
		width: 100%;
	}
}
