.site-header{
  transition: all .3s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  z-index: 300;
  padding: 2rem 0;
  background: linear-gradient(180deg, rgba(51, 51, 51, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
  &.darken{
    background: rgba(0,0,0,.8) !important;
    backdrop-filter: blur(5px);
  }
  &.page-header.darken{
    background: rgba(255,255,255,.7) !important;
    backdrop-filter: blur(5px);
  }
  & .site-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo{
    z-index: 301;
    &--img{
      height: 90px;
      transition: all .2s ease-in-out;
    }
  }
  &__nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    font-size: $font-content-smaller;
    &--item{
      color: inherit;
      text-decoration: none;
      position: relative;
      overflow: hidden;
      padding: 7px;
      transition: all .2s ease-in-out;
      &:before{
        content: '';
        background: $color-green;
        width: 100%;
        height: 100%;
        z-index: -1;
        right: 100%;
        bottom: 0;
        position: absolute;
        transition: all .3s ease-in-out;
      }
      &:hover{
        color: white;
        &:before{
          right: 0;
        }
      }
    }
    &--fb{
      width: 1.5em;
      color: white;
      fill: currentColor;
      transition: all .2s ease-in-out;
      &:hover{
        fill: $color-green;
      }
    }
    &--btn{
      padding: 1rem 2rem;
      background: $color-green;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1em;
      text-decoration: none;
      text-transform: uppercase;
      border-radius: 1000px;
      color: $color-dark;
      transition: all .2s ease-in-out;
      &:hover{
        background: $color-green-dark;
        color: white;
      }
      &__icon{
        height: 1em;
      }
    }
    @media screen and (max-width: 1600px){
      &{
        gap: 2rem;
        flex-wrap: wrap;
      }
    }
    @media screen and (max-width: 1400px){
      &{
        gap: 1rem;
      }
      &--btn{
        padding: .7rem 1.5rem;
      }
    }
    @media screen and (max-width: 1240px){
      &{
        display: none;
      }
    }
  }
  &.page-header{
    background: white;
    color: $color-brown;
    &.scrolled{
      background: white;
      box-shadow: 0 3px 15px rgba(0,0,0,.1);
    }
  }
  &.page-header &{
    &__nav{
      &--fb{
        color: $color-brown;
      }
    }
  }
  &.page-header{
    & label{
      color: $color-brown;
    }
  }
}
// Scrolled Site Header
.scrolled.site-header{
  background: rgba(0,0,0,.4);
  padding: 1rem 0;
  & .site-header{
    &__logo{
      &--img{
        height: 60px;
      }
    }
  }
  &__nav-mobile{
    display: none;
    height: 0;
    overflow: hidden;
    transition: all .3s ease-in-out;
    @media screen and (max-width: 1240px){
      &{
        overflow: hidden;
        transition: all .3s ease-in-out;
        display: flex;
        width: 100%;
        &.site-container{
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
        }
      }
    }
  }
}
#mobileMenu{
  display: none;
  & + div{
    transition: all .1s ease-in-out;
    height: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    font-size: 18px;
    & .site-header__nav{
      &--item{
        width: 100%;
        text-align: center;
        overflow: hidden;
        padding-bottom: 0;
        padding-top: 10px;
        margin-top: 10px;
        border-top: 1px solid #424242;
        &:last-child{
          border-bottom: none !important;
        }
        &:before{
          content: none;
          display: none !important;
        }
      }
    }
  }
  &:checked + div{
    height: 385px;
    transition: all .1s ease-in-out;
  }
}
label[for="mobileMenu"]{
  display: none;
}
@media(max-width: 1240px){
  .site-header__logo--img{
    height: 65px;
  }
  label[for="mobileMenu"]{
    display: block;
  }
}