.site-header {
	transition: all 0.3s ease-in-out;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	color: $black-500;
	z-index: 300;
	padding: 1rem 0;
	background: #fff;
	&.darken {
	}
	&.page-header.darken {
		background: rgba(255, 255, 255, 0.7) !important;
		backdrop-filter: blur(5px);
	}
	& .site-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__logo {
		z-index: 301;
		&--img {
			height: 50px;
			transition: all 0.2s ease-in-out;
		}
	}
	&__nav {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 14px;
		text-transform: uppercase;
		gap: 0;
		&--item {
			color: inherit;
			text-decoration: none;
			position: relative;
			overflow: hidden;
			padding: 12px;
			transition: all 0.2s ease-in-out;
			font-size: 14px;
			&:hover {
				color: $gold-400;
			}
		}
		&--fb {
			width: 1.5em;
			color: white;
			fill: currentColor;
			transition: all 0.2s ease-in-out;
			&:hover {
				fill: $color-green;
			}
		}
		&--tel {
			font-size: 14px;
			font-weight: bold;
			color: $gold-400;
			text-decoration: none;
			position: relative;
			padding-left: 24px;
			margin-left: 12px;

			svg {
				height: 1.25em;
				margin-right: 10px;
				width: auto;
			}

			svg,
			svg [fill] {
				fill: currentColor;
			}

			&::before {
				content: "";
				position: absolute;
				height: 2em;
				width: 1px;
				background: $gray-300;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		@media screen and (max-width: 1240px) {
			& {
				display: none;
			}
		}
	}
	&.page-header {
		background: white;
		color: $color-brown;
		&.scrolled {
			background: white;
			box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
		}
	}

	&.page-header {
		& label {
			color: $color-brown;
		}
	}
}
// Scrolled Site Header
.scrolled.site-header {
	& .site-header {
		&__logo {
			&--img {
				height: 50px;
			}
		}
	}
	&__nav-mobile {
		display: none;
		height: 0;
		overflow: hidden;
		transition: all 0.3s ease-in-out;
		@media screen and (max-width: 1240px) {
			& {
				overflow: hidden;
				transition: all 0.3s ease-in-out;
				display: flex;
				width: 100%;
				&.site-container {
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
				}
			}
		}
	}
}
#mobileMenu {
	display: none;
	& + div {
		transition: all 0.1s ease-in-out;
		height: 0;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-direction: column;
		font-size: 18px;
		& .site-header__nav {
			&--item {
				width: 100%;
				text-align: center;
				overflow: hidden;
				padding-bottom: 0;
				padding-top: 10px;
				margin-top: 10px;
				border-top: 1px solid #424242;
				&:last-child {
					border-bottom: none !important;
				}
				&:before {
					content: none;
					display: none !important;
				}
			}
		}
	}
	&:checked + div {
		height: 385px;
		transition: all 0.1s ease-in-out;
	}
}
label[for="mobileMenu"] {
	display: none;
}
@media (max-width: 1240px) {
	.site-header__logo--img {
		height: 65px;
	}
	label[for="mobileMenu"] {
		display: block;
	}
}
