.intro{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: .7s ease-in-out;
  z-index: 500;
  &--wrapper{
    position: relative;
    width: 100%;
    height: 100%;
  }
  &.remove{
    opacity: 0;
  }
  &__slide{
    width: 100%;
    height: 100%;
    position: absolute;
    &--img{
      position: absolute;
      width: 800px;
      height: 800px;
      overflow: hidden;
      opacity: 0;
      top: 30%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      transition: all 400ms linear;
      box-shadow: 0 15px 25px rgba(0,0,0,.2);
    }
    &.active &--img{
      opacity: 1;
      top: 50%;
    }
    &.remove &--img{
      opacity: 0;
      top: 70%;
    }
    &--text{
      position: absolute;
      top: 50%;
      left: 30%;
      opacity: 0;
      transform: translateY(-50%) translateX(-50%);
      transition: all 450ms linear;
      font-size: 130px;
      color: white;
      width: 100%;
      text-align: center;
      text-shadow: 0 5px 15px rgba(0,0,0,.3);
    }
    &.active &--text{
      opacity: 1;
      left: 50%;
    }
    &.remove &--text{
      opacity: 0;
      left: 70%;
    }
  }
}
.stage{
  &__default{
    background: #333;
  }
  &__0{
    background: $color-orange;
  }
  &__1{
    background: $color-green;
  }
  &__2{
    background: $color-blue;
  }
}