.offer-slider{
  position: relative;
}
.swiper{
  max-width: 100%;
  height: 100%;
  max-height: 550px;
  padding-bottom: 40px;
  &-slide{
    transition: all .4s ease-in-out;
    height: fit-content;
    &__inner{
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      border-radius: 1rem;
      height: 300px;
      transition: all .4s ease-in-out;
    }
    &__img{
      min-width: 100%;
      min-height: 100%;
      & img{
        pointer-events: none;
      }
    }
    &-active *{
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  &-slide-next + &-slide{
    width: 35% !important;
    & .swiper-slide__inner{
      height: 500px;
    }
  }
  &-button{
    &__wrapper{
      position: absolute;
      width: 35%;
      left: calc(50% + 15px);
      bottom: 0;
      display: flex;
      height: 20px;
      align-items: center;
      justify-content: space-between;
      &--buttons{
        position: relative;
        display: flex;
        gap: 2rem;
        height: 100%;
      }
    }
    &-prev, &-next{
      position: unset;
      height: 20px;
      width: fit-content;
      margin: 0;
      color: #333
    }
    &-prev{
      & svg{
        height: 100%;
        width: auto;
        color: currentColor;
        fill: currentColor;
        transform: rotate(180deg);
      }
      &:after{
        display: none !important;
      }
      &:hover{
        color: green;
      }
    }
    &-next{
      &:after{
        display: none !important;
      }
      & svg{
        height: 100%;
        width: auto;
        color: currentColor;
        fill: currentColor;
      }
      &:hover{
        color: green;
      }
    }
  }
  &__bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
  }
  &__counter{
    user-drag: none;
    user-select: none;
  }
}