@import url("https://use.typekit.net/zur8qmm.css");

$font-big: 80px;


$font-big-smaller: 60px;
$font-title: 48px;
$font-content-title: 36px;
$font-content: 20px;
$font-content-bigger: 24px;
$font-content-smaller: 18px;
*{
  line-height: 150%;
  font-family: greycliff-cf, sans-serif;
}