$color-orange: #f1bb59;
$color-green: #06bd69;
$color-green-dark: #129056;
$color-blue: #5eb9d7;
$color-red: #cc0000;
$color-orange-alt: #e6b800;
$color-gray: #c3c3c5;
$color-gray-ligher: #f4f1ed;
$color-dark: #434236;