$color-orange: #f1bb59;
$color-brown: #b6764c;
$color-green: #06bd69;
$color-green-dark: #129056;
$color-blue: #5eb9d7;
$color-red: #cc0000;
$color-orange-alt: #e6b800;
$color-gray: #c3c3c5;
$color-gray-ligher: #f4f1ed;
$color-dark: #434236;

$gold-200: #d9c9bc;
$gold-300: #b49279;
$gold-400: #a17758;
$gold-500: #88644a;

$gray-200: #f4f1ed;
$gray-300: #c3c3c5;
$gray-500: #3a4046;

$black-500: #212529;
