* {
  line-height: 120%;
}

.intro {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: 0.7s ease-in-out;
  z-index: 500;
}
.intro--wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.intro.remove {
  opacity: 0;
}
.intro__slide {
  width: 100%;
  height: 100%;
  position: absolute;
}
.intro__slide--img {
  position: absolute;
  width: 800px;
  height: 800px;
  overflow: hidden;
  opacity: 0;
  top: 30%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  transition: all 400ms linear;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}
.intro__slide.active .intro__slide--img {
  opacity: 1;
  top: 50%;
}
.intro__slide.remove .intro__slide--img {
  opacity: 0;
  top: 70%;
}
.intro__slide--text {
  position: absolute;
  top: 50%;
  left: 30%;
  opacity: 0;
  transform: translateY(-50%) translateX(-50%);
  transition: all 450ms linear;
  font-size: 130px;
  color: white;
  width: 100%;
  text-align: center;
  text-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.intro__slide.active .intro__slide--text {
  opacity: 1;
  left: 50%;
}
.intro__slide.remove .intro__slide--text {
  opacity: 0;
  left: 70%;
}

.stage__default {
  background: #333;
}
.stage__0 {
  background: #f1bb59;
}
.stage__1 {
  background: #5ed780;
}
.stage__2 {
  background: #5eb9d7;
}

.homepage-baner {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.homepage-baner__title {
  font-size: 80px;
}
.homepage-baner__subtitle {
  font-size: 60px;
}
.homepage-baner__arrow {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}
.homepage-baner__arrow--text {
  font-size: 16px;
  font-weight: bold;
  animation-name: bounce;
  animation-timing-function: ease;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
.homepage-baner__arrow--svg {
  fill: currentColor;
  margin-top: 1.5rem;
  height: 3em;
}
.homepage-baner__arrow--hidden {
  bottom: 4rem;
  opacity: 0;
}
.homepage-baner__img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homepage-baner__img-wrapper--img {
  min-height: 100%;
  width: auto;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
.site-header {
  transition: all 0.3s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  z-index: 300;
  padding: 2rem 0;
  background: linear-gradient(180deg, rgba(51, 51, 51, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
}
.site-header .site-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-header__logo {
  z-index: 301;
}
.site-header__logo--img {
  height: 100px;
  transition: all 0.2s ease-in-out;
}
.site-header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  font-size: 18px;
}
.site-header__nav--item {
  color: inherit;
  text-decoration: none;
}
.site-header__nav--fb {
  width: 1.5em;
  color: white;
  fill: currentColor;
}
.site-header__nav--btn {
  padding: 1rem 2rem;
  background: #5ed780;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 1000px;
  color: #333333;
}
.site-header__nav--btn__icon {
  height: 1em;
}

.scrolled.site-header {
  background: rgba(0, 0, 0, 0.4);
  padding: 1rem 0;
}
.scrolled.site-header .site-header__logo--img {
  height: 60px;
}

.site-container {
  width: 100%;
  padding-left: 5rem;
  padding-right: 5rem;
}

/*# sourceMappingURL=theme.css.map */
