* {
  line-height: 150%;
}

.intro {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: 0.7s ease-in-out;
  z-index: 500;
}
.intro--wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.intro__text--wrapper {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  height: 100px;
  position: absolute;
  z-index: 50;
}
.intro__text--content {
  position: relative;
  min-width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.intro__text--item {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 80px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 100px;
  width: 100%;
  text-align: center;
  transition: all 400ms ease-in;
}
.intro__text--item.active {
  top: 0;
}
.intro__text--item.remove {
  transform: translateX(-50%) translateY(-100%);
}
.intro__image--wrapper {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 800px;
  height: 800px;
  position: absolute;
  z-index: 25;
}
.intro__image--content {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.intro__image--item-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 800ms ease-in-out;
}
.intro__image--item-wrapper.active {
  top: 0;
  left: 0;
}
.intro__image--item-wrapper.remove-top {
  transform: translateY(-100%);
}
.intro__image--item-image {
  width: 100%;
  min-height: 100%;
}

.stage__default {
  background: #333;
}
.stage__0 {
  background: #f1bb59;
}
.stage__1 {
  background: #5ed780;
}
.stage__2 {
  background: #5eb9d7;
}
.stage__3 {
  background: #333;
}

.homepage-baner {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.homepage-baner__title {
  font-size: 80px;
}
.homepage-baner__subtitle {
  font-size: 60px;
}
.homepage-baner__arrow {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}
.homepage-baner__arrow--text {
  font-size: 16px;
  font-weight: bold;
  animation-name: bounce;
  animation-timing-function: ease;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
.homepage-baner__arrow--svg {
  fill: currentColor;
  margin-top: 1.5rem;
  height: 3em;
}
.homepage-baner__arrow--hidden {
  bottom: 4rem;
  opacity: 0;
}
.homepage-baner__img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homepage-baner__img-wrapper--img {
  min-height: 100%;
  width: auto;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
.site-header {
  transition: all 0.3s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  z-index: 300;
  padding: 2rem 0;
  background: linear-gradient(180deg, rgba(51, 51, 51, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
}
.site-header .site-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-header__logo {
  z-index: 301;
}
.site-header__logo--img {
  height: 100px;
  transition: all 0.2s ease-in-out;
}
.site-header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  font-size: 18px;
}
.site-header__nav--item {
  color: inherit;
  text-decoration: none;
}
.site-header__nav--fb {
  width: 1.5em;
  color: white;
  fill: currentColor;
}
.site-header__nav--btn {
  padding: 1rem 2rem;
  background: #5ed780;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 1000px;
  color: #333333;
}
.site-header__nav--btn__icon {
  height: 1em;
}

.scrolled.site-header {
  background: rgba(0, 0, 0, 0.4);
  padding: 1rem 0;
}
.scrolled.site-header .site-header__logo--img {
  height: 60px;
}

img {
  user-drag: none;
  user-select: none;
}

.site-container {
  width: 100%;
  padding-left: 5rem;
  padding-right: 5rem;
}

.sr-container {
  max-width: 1410px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  display: block;
}

.content img {
  width: 100%;
}
.content__text {
  font-size: 20px;
}
.content__text p {
  font-weight: 300;
}
.content__text strong {
  font-weight: 600;
}
.content__title {
  font-size: 36px;
}
.content__title p {
  font-weight: 300;
}
.content__title strong {
  font-weight: 600;
}

.offset-img.left img {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

img.border-radius {
  border-radius: 1rem;
}

.homepage-maincontent {
  position: relative;
}
.homepage-maincontent__bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  opacity: 0.5;
}

.horizontal .icons-row__wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2.5rem;
}
.horizontal .icons-row__icon {
  width: 75px;
}
.horizontal .icons-row__content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.horizontal .icons-row__content--title {
  font-size: 24px;
  color: #06bd69;
  font-weight: bold;
}
.horizontal .icons-row__content--text {
  font-size: 20px;
}

.cons__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1.5rem;
  margin-bottom: 1rem;
  position: relative;
}
.cons__item--icon {
  height: 50px;
}
.cons__item--text {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}
.cons__item :after {
  content: "";
  height: 2px;
  width: 50px;
  background: green;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.offer-slider {
  position: relative;
}

.swiper {
  max-width: 100%;
  height: fit-content;
  padding-bottom: 40px;
}
.swiper-slide {
  transition: all 0.4s ease-in-out;
  height: fit-content;
}
.swiper-slide__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 1rem;
  height: 300px;
  transition: all 0.4s ease-in-out;
}
.swiper-slide__img {
  min-width: 100%;
  min-height: 100%;
}
.swiper-slide__img img {
  pointer-events: none;
}
.swiper-slide-active * {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.swiper-slide-next + .swiper-slide {
  width: 35% !important;
}
.swiper-slide-next + .swiper-slide .swiper-slide__inner {
  height: 500px;
}
.swiper-button__wrapper {
  position: absolute;
  width: 35%;
  left: calc(50% + 15px);
  bottom: 0;
  display: flex;
  height: 20px;
  align-items: center;
  justify-content: space-between;
}
.swiper-button__wrapper--buttons {
  position: relative;
  display: flex;
  gap: 2rem;
  height: 100%;
}
.swiper-button-prev, .swiper-button-next {
  position: unset;
  height: 20px;
  width: fit-content;
  margin: 0;
  color: #333;
}
.swiper-button-prev svg {
  height: 100%;
  width: auto;
  color: currentColor;
  fill: currentColor;
  transform: rotate(180deg);
}
.swiper-button-prev:after {
  display: none !important;
}
.swiper-button-prev:hover {
  color: green;
}
.swiper-button-next:after {
  display: none !important;
}
.swiper-button-next svg {
  height: 100%;
  width: auto;
  color: currentColor;
  fill: currentColor;
}
.swiper-button-next:hover {
  color: green;
}
.swiper__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
}
.swiper__counter {
  user-drag: none;
  user-select: none;
}

/*# sourceMappingURL=theme.css.map */
